<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
       
        <th scope="col">Kitap Adı</th>
        <th scope="col">ISBN</th>
        <th scope="col">Sayfa </th>
        <th scope="col">Dil</th>
        <th scope="col">Stok Adedi</th>
        <th scope="col">Açıklama</th>
        <th scope="col">Kategori</th>
        <th scope="col">YayınEvi</th>
        

        
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bookList">
        <th scope="row">{{item.name}}</th>
        <th scope="row">{{item.isbn}}</th>
        <th scope="row">{{item.page}}</th>
        <th scope="row">{{item.language}}</th>
        <th scope="row">{{item.unitsInStock}}</th>
        <th scope="row">{{item.description}}</th>
        <th scope="row">{{item.categoryName}}</th>
        <th scope="row">{{item.publisherName}}</th>
        
      </tr>
    </tbody>
  </table>
    <p *ngIf="bookList.length <= 0">Yükleniyor...</p>
  </div>