<div class="content">
    <div class="card" >
        <div class="card-header"><h5 class="title font-weight-bold">Yayınevi Düzenle</h5></div>
    
        <div class="card-body">
    
          <form [formGroup]="publisherEditForm">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="row"> Yayınevleri</th>
                  
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of publisherList " >  <!-- | filterBookListForCategory : searchKey -->
                    <th scope="row">{{item.name}}</th>
                    <th>
                    <button  class="btn btn-outline-danger w-50 " (click)="deletePublisher($event,item.id)" > Sil</button> 
                    <a  class="btn btn-outline-dark w-50" routerLink="update/{{item.id}}" > Güncelle</a></th>
                  </tr>
                </tbody>
             
                <p *ngIf="publisherList.length <= 0">Yükleniyor...</p>
               
           </table>
          </form> 
           <div class="card-footer" >
            
        </div>
        </div>
    
       
    
      </div>
    </div>
    
